* {
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(50,50,50);
    color: white;
    padding: 1rem 0;
}

.title {
    margin-left: 2rem;
}

.container {
    width: 1100px;
    margin: 5rem auto;
    text-align: center;
    border: 1px solid black;
}

.row {
    display: flex;
    justify-content: center;
}

.col {
    flex: 1 1 calc(1/4 * 100%);
}

button {
    width: 100%;
    padding: 2rem 0;
    font-size: 1.5rem;
    background-color: rgb(84,84,84);
    outline: none;
    border: none
}