.row {
  display: flex;
  justify-content: center;
}

.col {
  flex: 1 1 calc(1 / 4 * 100%);
}

.buttons {
  width: 100%;
  padding: 2rem 0;
  font-size: 1.5rem;
  background-color: rgb(84, 84, 84);
  outline: none;
  border: none;
  color: white;
  cursor: pointer;
}

.active {
  background-color: rgb(50, 50, 50);
  cursor: default;
}

@media (max-width: 670px) {
  .row {
    flex-direction: column;
  }
}
